{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active" style="font-size:xx-large;">No Grant No Fee</li>
{% endblock %}

{% block content %}
<table>
  <tr style="padding: 30px;">
    <td>
      <p style="font-size:50px;text-align: center;padding: 1cm;">Get In Touch</p>
    </td>
    <td>
      <p style="font-size:20px;text-align: left;padding: 1cm;">
        Please feel free to call or email for general questions.
      </p>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <p style="font-size:20px;text-align: left;padding: 1cm;">Email: <a href="mailto:administration@ngnf.co.uk" target="_blank">administration@ngnf.co.uk</a></p>
    </td>
  </tr>
</table>

{% endblock %}
