{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active" style="font-size:xx-large;">No Grant No Fee</li>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<table class="table">
      <tr>
          <td style="vertical-align: middle;">
            <img src="{% static 'images/ngnf_customer.webp' %}" >
          </td>
          <td width="70%">
            <br>
            NGNF provides funding support and consultation to Community Organisations and Social Enterprises. We have been in operation for approximately 12 months and over this period we have maintained a high success rate in helping clients to achieve funding for their project.
            <br>
            <br>
            We provide support to community groups and individuals to help them develop services which can have social, health and financial benefits for their communities. In this challenging time of economic austerity and change, NGNF will help clients to explore alternative means of accessing income.
            <br>
            <br>
            Our concept of no grant no fee, allows community members a greater freedom to develop their ideas, project and organisation without the threat of being left with large consultancy bills. Many consultants will charge a fee regardless of whether your application is successful or not. Presently, our income is totally based upon a commission only basis and we believe that this model can be an important factor in helping community organisations realise their dream projects. 
            <br>
            <br>
            Lastly, we also provide other chargeable services such as, project development, policy development and one to one or group consultation sessions. Please contact us for further information. 
          </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
